.s1{
  font-style: oblique;
  color: #5c5c5c;
}

.s2{
  font-weight: bolder;
  color: #f00;
  font-style: oblique;
}

.s3{
  color: #00f;
  font-style: oblique;
}

.s4{
  color: #0f0;
  font-weight: bolder;
}
